/* Línea separadora sutil */
.separator-line {
    height: 1px;
    background: linear-gradient(90deg, transparent, #e0e0e0, transparent);
}

/* Ajuste para inputs más cómodos en la sección de formulario */
::ng-deep .density-comfortable .mat-mdc-form-field-flex {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 50px;
}

/* Estilo para que el Total se vea como un badge bonito */
.role-inventario {
    border: 1px solid rgb(255, 255, 255);
    padding-inline: 5px;
}

/* Iconos dentro de los inputs */
.mat-mdc-form-field-icon-suffix {
    padding-left: 10px;
}

.btn-nuevo {
    background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 100%); /* Degradado */
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3); /* Sombra de color */
    border: none;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Corrección para botones personalizados deshabilitados */
.btn-nuevo:disabled,
.btn-nuevo[disabled] {
    background: rgba(0, 0, 0, 0.12) !important; /* Gris estándar de Material */
    color: rgba(0, 0, 0, 0.38) !important;      /* Texto gris */
    box-shadow: none !important;                /* Sin sombra */
    pointer-events: none;                       /* Asegura que no sea clickeable */
    cursor: default;
}

.custom-card { 
    border: 1px solid #e0e0e0 !important;
    border-radius: 16px !important;
    /* Cambio: Sombra más oscura (0.2) y más expandida */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important; 
    background: white;
    overflow: hidden;
}

.detalles-card { 
    background: linear-gradient(#3f51b5 0%, #5c6bc0 100%);
    color: aliceblue;
    border: 1px solid #e0e0e0 !important;
    border-radius: 16px !important;
    /* Cambio: Sombra más oscura (0.2) y más expandida */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important; 
    overflow: hidden;
}

.header-color {
    background: linear-gradient(#3f51b5 0%, #5c6bc0 100%);
    border-radius: 3px !important;
    padding: 10px;
}