<div class="d-flex flex-column flex-shrink-0 p-3 bg-white h-100 shadow-sm" style="width: 250px;">
  
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-dark">
      <!-- <i class="bi bi-box-seam fs-4 me-2 text-primary"></i>-->
      <img src="assets/images/inventario.png" alt="Descripción de la imagen" width="100" height="100">

      <!--<span class="fs-5 fw-bold">Inventario UTDI</span>-->
      <span class="fs-5 fw-bold text-center">Inventario UTDI</span>
    </a>
    
    <hr>
  
    <ul class="nav nav-pills flex-column mb-auto">
      
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-speedometer2 me-2"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-header">Inventario</li>

      <li>
        <a routerLink="/presupuesto/nuevo_presupuesto" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-tools me-2"></i>
          Crear Presupuesto
        </a>
      </li>

      <li>
        <a routerLink="/presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-dark">
          <i class="bi bi-sliders2-vertical me-2"></i>
          Ap. Presupuestos
        </a>
      </li>
      
      <li>
        <a routerLink="/inventarios" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-box me-2"></i>
          Inventario
        </a>
      </li>

      <li>
        <a routerLink="/proyecto" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-lightning me-2"></i>
          Proyecto
        </a>
      </li>
    
  

      <li>
        <a routerLink="/movimientos" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-arrow-left-right me-2"></i>
          Movimientos
        </a>
      </li>

      <li>
        <a routerLink="/descargo" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-x-circle  me-2"></i>
          Descargo
        </a>
      </li>
  
      <li class="nav-header">Administración</li>

      <li>
        <a routerLink="/catalogos" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-grid-3x3-gap me-2"></i>
          Catálogos
        </a>
      </li>
  
      <li>
        <a routerLink="/usuarios" routerLinkActive="active" class="nav-link text-dark">
          <i class="bi bi-people me-2"></i>
          Usuarios
        </a>
      </li>
    </ul>
  
    <hr>

    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://ui-avatars.com/api/?name=Christian+Ordonez" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Christian Ordoñez</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
      </ul>
    </div>

  </div>