/* sidebar.component.css */

.nav-link {
    color: #6c757d; /* Gris suave */
    font-weight: 500;
    transition: all 0.2s;
}

.nav-link:hover {
    background-color: #f8f9fa;
    color: #000;
}

.nav-link.active {
    background-color: #e9ecef;
    color: #000;
    font-weight: bold;
    border-left: 4px solid #0d6efd; /* Línea azul a la izquierda */
    border-radius: 0 4px 4px 0;
}

.nav-link i {
    font-size: 1.1rem;
}

.nav-header {
    font-size: 0.75rem;
    font-weight: 700;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #6c757d;
}