.custom-card {
    border: 1px solid #e0e0e0 !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important; 
    background: white;
    overflow: hidden;
}

.mat-mdc-table {
    background: transparent;
}

.mat-mdc-header-row {
    background: linear-gradient(#3f51b5 0%, #5c6bc0 100%);
    border-bottom: 2px solid #f1f3f5;
    height: 60px;
}

.mat-mdc-header-cell {
    color: #ffffff; 
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px; 
}


.mat-mdc-row {
    height: 70px; 
    border-bottom: 1px solid #f8f9fa;
    transition: all 0.2s ease-in-out;
}

.hover-row:hover {
    background-color: #f8faff !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
    z-index: 1;
    position: relative;
}

.mat-mdc-cell {
    font-size: 0.9rem;
    color: #344767; 
    font-weight: 500;
}


.badge-soft {
    padding: 8px 12px;
    border-radius: 8px; 
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.role-admin {
    background-color: #fceceb; 
    color: #e63757;
}

.role-inventario {
    background-color: #e7f6f8; 
    color: #11cdef; 
}

.role-bodega {
    background-color: #fff6e5; 
    color: #fb8c00;
}

.role-default {
    background-color: #f3f4f6;
    color: #5d6676;
}

.action-btn {
    transition: transform 0.2s;
}
.action-btn:hover {
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.04);
}

.mat-column-acciones {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    text-align: center;
    padding-right: 24px !important;
    overflow: visible !important;
}


.btn-nuevo {
    background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 100%);
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3);
    border: none;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

button[mat-icon-button][color="primary"] {
    color: var(--mat-sys-primary) !important;
}

button[mat-icon-button][color="warn"] {
    color: var(--mat-sys-error) !important;
}