<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-light text-secondary">Catálogo de Productos</h2>
      <button mat-raised-button color="primary" class="rounded-pill px-4 btn-nuevo" (click)="abrirFormulario()">
        <mat-icon class="me-2">library_add</mat-icon> Nuevo Producto
      </button>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Filtrar por Producto...</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Laptop Dell" #input autocomplete="off">
            <mat-icon matSuffix class="search-icon">search</mat-icon>
        </mat-form-field>
    </div>

  
    <mat-card class="border rounded-3 overflow-hidden shadow-sm">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> N°</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
  
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef class="bg-light fw-bold"> SKU </th>
          <td mat-cell *matCellDef="let element"> {{element.skuproducto}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="bg-light fw-bold"> PRODUCTO </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="fw-bold">{{element.nombreproducto}}</div>
            <small class="text-dark">{{element.categoria?.nombrecategoria}}</small>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="precios">
          <th mat-header-cell *matHeaderCellDef class="bg-light fw-bold"> COSTO </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="text-success fw-bold">${{element.preciocostoproducto}}</span>
            <!--<span class="text-success fw-bold">${{element.precioventaproducto}}</span>-->
          </td>
        </ng-container>
  
        <ng-container matColumnDef="proveedor">
          <th mat-header-cell *matHeaderCellDef class="bg-light fw-bold"> PROVEEDOR </th>
          <td mat-cell *matCellDef="let element"> {{element.proveedor?.nombreproveedor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="bg-light fw-bold text-end pe-4"> ACCIONES </th>
          <td mat-cell *matCellDef="let element" class="text-end pe-3">
            <button mat-icon-button color="primary"><mat-icon>edit_document</mat-icon></button>
            <button mat-icon-button color="warn" (click)="eliminar(element.idProducto)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center py-4" colspan="3">
                No hay datos para mostrar
            </td>
        </tr>

      </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                        aria-label="Seleccionar página">
        </mat-paginator>
    </mat-card>
  </div>