<h2 mat-dialog-title>Nueva Bodega</h2>

<mat-dialog-content>
    <p class="text-secondary small mb-3">Ingrese los datos para registrar una nueva Bodega en el sistema.</p>
    
    <form [formGroup]="form" (ngSubmit)="guardar()">

        <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Nombre de la Bodega</mat-label>
            <input matInput formControlName="nombre" placeholder="Ej. Bodega Central" autocomplete="off">
            @if (form.get('nombre')?.hasError('required')) {
                <mat-error>El nombre es obligatorio</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Dirección Física</mat-label>
            <input matInput formControlName="direccion" placeholder="Ej. Calle Principal #123" autocomplete="off">
            @if (form.get('direccion')?.hasError('required')) {
                <mat-error>La dirección es obligatoria</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Teléfono de Contacto</mat-label>
            <input matInput formControlName="telefono" placeholder="Ej. 2255-8888" autocomplete="off">
            @if (form.get('telefono')?.hasError('pattern')) {
                <mat-error>Solo se permiten números</mat-error>
            }
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
        Guardar
    </button>
</mat-dialog-actions>