/* --- BOTÓN CANCELAR --- */
.btn-cancelar {
    background: #ffffff;       /* Fondo blanco */
    color: #d77777;            /* Texto gris elegante */
    border: 1px solid #d3d3d3; /* Borde gris suave para definirlo */
    height: 45px;              /* EXACTAMENTE la misma altura */
    font-weight: 500;          /* Mismo peso de letra */
    letter-spacing: 0.5px;     /* Mismo espaciado */
    box-shadow: none;          /* Sin sombra para que se vea plano/secundario */
}

/* Efecto al pasar el mouse */
.btn-cancelar:hover {
    background-color: #ff6363; /* Un gris muy tenue */
    border-color: #000000;     /* El borde se oscurece un poco */
    color: #ffffff;            /* El texto se oscurece */
}


/* --- BOTÓN CONFIRMAR (BASE) --- */
.btn-confirmar {
    background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 100%); /* Degradado */
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3); /* Sombra de color */
    border: none;
    height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Efecto Hover */
.btn-confirmar:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    filter: brightness(105%);
}

/* 1. ESTILO APROBAR / RECEPCIONAR (COPIA EXACTA DE .btn-nuevo) */
button[mat-flat-button][color="primary"] {
    /* Tu degradado original */
    background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 100%) !important; 
    /* Tu sombra original */
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3); 
}

/* 2. ESTILO ELIMINAR / RECHAZAR */
button[mat-flat-button][color="warn"] {
    /* Degradado Rojo para mantener consistencia visual */
    background: linear-gradient(135deg, #f44336 0%, #e57373 100%) !important;
    box-shadow: 0 4px 10px rgba(244, 67, 54, 0.3);
}
