<h2 mat-dialog-title>Registro de Producto</h2>

<mat-dialog-content>
    <p class="text-secondary small mb-3">Ingrese los datos para registrar un Nuevo Producto en el sistema.</p>
  <form [formGroup]="form" class="row g-3">
    
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>SKU / Código</mat-label>
        <input matInput formControlName="skuproducto">
        @if (form.get('skuproducto')?.hasError('required')) {
            <mat-error>El sku es obligatorio</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre del Producto</mat-label>
        <input matInput formControlName="nombreproducto">
        @if (form.get('nombreproducto')?.hasError('required')) {
            <mat-error>El nombre es obligatorio</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcionproducto" rows="2"></textarea>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="idCategoria">
          @for (c of listaCategorias; track c.idCategoria) {
            <mat-option [value]="c.idCategoria">{{c.nombrecategoria}}</mat-option>
          }
        </mat-select>
        @if (form.get('idCategoria')?.hasError('required')) {
            <mat-error>Categoria requerida</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Proveedor</mat-label>
        <mat-select formControlName="idProveedor">
          @for (p of listaProveedores; track p.idProveedor) {
            <mat-option [value]="p.idProveedor">{{p.nombreproveedor}}</mat-option>
          }
        </mat-select>
        @if (form.get('idProveedor')?.hasError('required')) {
            <mat-error>Proveedor requerido</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>U. Medida</mat-label>
        <mat-select formControlName="idUnidadMedida">
          @for (u of listaUnidades; track u.idUnidadMedida) {
            <mat-option [value]="u.idUnidadMedida">{{u.nombreunidadmedida}}</mat-option>
          }
        </mat-select>
        @if (form.get('idUnidadMedida')?.hasError('required')) {
            <mat-error>U. Medida requerida</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Precio Costo</mat-label>
        <input type="number" matInput formControlName="preciocostoproducto" prefix="$">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Precio Venta</mat-label>
        <input type="number" matInput formControlName="precioventaproducto" prefix="$">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardar()">
    Guardar Producto
  </button>
</mat-dialog-actions>