<h2 mat-dialog-title>Nueva Unidad de Medida</h2>

<mat-dialog-content>
    <p class="text-secondary small mb-3">Ingrese los datos para registrar una nueva Unidad de Medida en el sistema.</p>
    
    <form [formGroup]="form" (ngSubmit)="guardar()">

        <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Unidad de Medida</mat-label>
            <input matInput formControlName="nombre" placeholder="Ej. Metro" autocomplete="off">
            @if (form.get('nombre')?.hasError('required')) {
                <mat-error>El nombre es obligatorio</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Abreviatura</mat-label>
            <input matInput formControlName="abreviatura" placeholder="Ej. m" autocomplete="off">
            @if (form.get('abreviatura')?.hasError('required')) {
                <mat-error>La abreviatura es obligatoria</mat-error>
            }
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
        Guardar
    </button>
</mat-dialog-actions>